name: R-CMD-check

on:
  pull_request:
    branches: [main, master]

jobs:
  R-CMD-check:
    runs-on: ubuntu-latest

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}
      MISTRAL_API_KEY: ${{ secrets.MISTRAL_API_KEY }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      RENV_CONFIG_REPOS_OVERRIDE: https://packagemanager.posit.co/cran/__linux__/jammy/latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libpoppler-cpp-dev

      - uses: r-lib/actions/setup-renv@v2

      - name: Check package
        run: |
          devtools::check(error_on = "warning", manual = FALSE, vignettes = FALSE)
        shell: Rscript {0}
